@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    font-family: "JetBrains Mono", monospace;
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
}

header{
    text-align: center;
    background-color: cyan;
    padding: 2px;
    margin: 0px;
}

main{
    margin: 20px;
}

.navbar ul{
    list-style: none;
    background-color: gray;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar li{
    float: left;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: bisque;
}

aside{
    width: 20%;
    float: left;
    padding: 10px;
}

section{
    width: 40%;
    float: left;
    padding: 10px;
}

article{
    width: 40%;
    float: left;
    padding: 10px;
}

footer{
    display: block;
    clear: both;
    text-align: center;
    background-color: cyan;
    padding: 2px;
    margin: 0px;
}

@media screen and (max-width:600px){
    aside, section, article{
        width: 100%;
    }
}